
/* NAVBAR_START */

.navbar{
  position: fixed;
  z-index: 99;
  width: 100vw;
  scale: auto;
}

.navbar-sec1{
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #1A1A1A;
}

.navbar-sec1 img {
  object-fit: cover;
  margin-right: 5px;
  margin-top: 3px;
  width: 91px;
  height: 91px;
}

.navbar-sec1-link {
  color: #ECECEC;
  font-size: 103px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}

.navbar-secmid{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECECEC;
  height: 24px;
}

.navbar-secmid{
  color: #1A1A1A;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

.navbar-sec2{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  height: 53px;
  align-items: center;
  background-color: #1A1A1A;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
}

/* NAVBAR_END */

/* DOREMIPA */

.Doremipa{
  background-color: #1A1A1A;
  padding-top: 120px;
}

.hero-doremipa{
  padding-top: 50px;
}

.subcategory{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  /* margin-top: -10px; */
}
.subcategorycard{
  /* scale: 0.8; */
  height: 820px;
  width: 617px;
  border: 7px solid #fff;
  border-radius: 30px;
  padding: 0px;
  margin: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 1;
  overflow: hidden;
}
.subcategory img{
  width: 100%;
  display: inline-block;
  border-radius: 20px;
}

.frame{
  background-color: #FFFFFF;
  border-radius: 30px;
  height: 197px;
  overflow: hidden;
  width: 1348px;
  margin: auto;
  margin-bottom: 50px;
}

.frame .div{
  align-items: flex-end;
  display: inline-flex;
  gap: 160px;
  left: 24px;
  position: relative;
  top: 31px;
}

.frame .div-2{
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.frame .text-wrapper{
  color: #000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-wrapper{
  background-color: #1A1A1A;
  justify-content: flex-end;
  border-radius: 15px;
  height: 100px;
  opacity: 0.92;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.frame .text-wrapper-2{
  color: #FFF;
  font-family: "Manrope-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
}

.frame .text-wrapper-3{
  color: #000;
  font-family: "Manrope-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame .text-wrapper-4{
  color: #FFF;
  font-family: "Manrope-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;

}


.frame .div-3{
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

/* about doremipa card */
.frame-2{
  background-color: #e8e8e8;
  border-radius: 30px;
  height: 569px;
  overflow: hidden;
  width: 1348px;
}

.frame-2 .div{
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  left: 701px;
  position: relative;
  top: 118px;
}

.frame-2 .about-doremipa{
  color: #000;
  font-family: "Manrope-Light", Helvetica;
  font-size: 64px;
  font-weight: 400;
  height: 153px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 387px;
}

.frame-2 .text-wrapper{
  font-weight: 300;
}

.frame-2 .span{
  font-family: "Manrope-Regular", Helvetica;
}

.frame-2 .text-wrapper-2{
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
}


/* DOREMIPA_END */

/* HOMEPAGE_START */

.homePage{
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

.hero-home{
  padding-top: 80px;
}

.hero-home img{
  object-fit: cover;
  display: flex;
  /* width: 100vh; */
  /* height:1080px; */
  width: 1920px;
}

.about-home{
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 30px;
  height: 58vh;
  overflow: hidden;
}

.about-home img{
  object-fit: contain;
  margin-left: -1px;
  margin-right: 700px;
}

.content-home{
  width: 180%;
  height: 90%;
  margin-right: 80px;
}

.p1content-home{
  color: #000;
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0px 0px 0px;
}

.p2content-home{
  color: #000;
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 25px 0px;
}

.p3content-home{
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.but-home{
  width: 187px;
  height: 57px;
  border-radius: 8px;
  background-color: #000;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
}

.sponsors{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.content-sponsors{
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}

.current-sponsors{
  width: 98vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.current-sponsor{
  object-fit: contain;
  width: 11vw;
}

.ig-embed{
  background-color: #1A1A1A;
  margin-bottom: 50px;
}

@media(max-width: 800px){
  .ig-big{
    display: none;
  }
}

@media(min-width: 801px){
  .ig-small{
    display: none;
  }
}


/* HOMEPAGE_END */


/* FOOTER START */

.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35vh;
}

.madLogo-footer{
  object-fit: contain;
  height: 100px;
  position: relative;
  left: 125px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-sec1 div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-footer{
  object-fit: contain;
  width: 6%;
}

.footer-sec2{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 93%;
}

.linki{
  text-decoration: none;
  color: black;
  color: #1A1A1A;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link1{
  font-weight: 700;
}

.footer-sec3{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

.footer-sec3 p{
  color: #1A1A1A;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.footer-p1{
  font-weight: 700;
}

.span1-footer{
  color: #1A1A1A;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}

.span2-footer{
  color: #1A1A1A;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.icons-footer{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 20px;
}

.icon-footer{
  object-fit: contain;
  width: 15%;
}


/* FOOTER END */