
/* NAVBAR_START */

.navbar{
  position: fixed;
  width: 100vw;
}

.navbar-sec1{
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  background-color: #1A1A1A;
}

.navbar-sec1 img {
  object-fit: cover;
  margin-right: 5px;
  margin-top: 3px;
  width: 3.2rem;
}

.navbar-sec1-link {
  color: #ECECEC;
  font-size: 3rem;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}

.navbar-secmid{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECECEC;
  height: 20px;
}

.navbar-secmid{
  color: #1A1A1A;
  font-size: 0.6rem;
  font-family: "Manrope", sans-serif;
}

.navbar-sec2{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  height: 30px;
  align-items: center;
  background-color: #1A1A1A;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
}

/* NAVBAR_END */



/* HOMEPAGE_START */

.homePage{
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-home img{
  object-fit: cover;
  width: 100%;
  height: 105vh;
}

.about-home{
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 30px;
  height: 70vh;
}

.about-home img{
  object-fit: contain;
  width: 76%;
  padding-left: 60px;
}

.content-home{
  width: 180%;
  height: 90%;
}

.p1content-home{
  color: #000;
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0px 0px 0px;
}

.p2content-home{
  color: #000;
  font-family: "Inter";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 25px 0px;
}

.p3content-home{
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.but-home{
  background-color: #000;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
}

.sponsors{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.content-sponsors{
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.current-sponsors{
  width: 98vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.current-sponsor{
  object-fit: contain;
  width: 11vw;
}

        //ig-embed
          .boxes3 {
            height: 175px;
            width: 153px;
          }

          #n img {
            max-height: none !important;
            max-width: none !important;
            background: none !important
          }

          #inst i {
            max-height: none !important;
            max-width: none !important;
            background: none !important
          }

          .bakchodi1{
            background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:undefinedpx;height:undefinedpx;max-height:100%; width:undefinedpx;
          }
          .bakchodi2{
            padding:16px;
          }
          .bakchodi3{
            background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;
          }
          .bakchodi4{
            display: flex; flex-direction: row; align-items: center;
          }
          .bakchodi5{
            background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;
          }
          .bakchodi6{
            display: flex; flex-direction: column; flex-grow: 1; justify-content: center;
          }
          .bakchodi7{
            background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;
          }
          .bakchodi8{
            background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;
          }
          .bakchodi9{
            padding: 19% 0;
          }
          .bakchodi10{
            display:block; height:50px; margin:0 auto 12px; width:50px;
          }
          .bakchodi11{
            padding-top: 8px;
          }
          .bakchodi12{
            color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-className:normal; font-weight:550; line-height:18px;
          }
          .bakchodi13{
            padding: 12.5% 0;
          }
          .bakchodi14{
            display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;
          }
          .bakchodi15{
            background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);
          }
          .bakchodi16{
            background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;
          }
          .bakchodi17{
            background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);
          }
          .bakchodi18{
            margin-left: 8px;
          }
          .bakchodi19{
            background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;
          }
          .bakchodi20{
            width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)
          }
          .bakchodi21{
            margin-left: auto;
          }
          .bakchodi22{
            width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);
          }
          .bakchodi23{
            background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);
          }
          .bakchodi24{
            width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);
          }
          .bakchodi25{
            display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;
          }
          .bakchodi26{
            background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;
          }
          .bakchodi27{
             background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;
          }
          .bakchodi28{
            color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;
          }
          .bakchodi29{
            color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-className:normal; font-weight:normal; line-height:17px; text-decoration:none;
          }
          .bakchodi30{
            font-family:Arial,sans-serif; font-size:14px; line-height:17px;
          }
          .bakchodi31{
            overflow: auto; position: absolute; height: 0pt; width: 0pt;
          }

/* HOMEPAGE_END */